body{
    background-color: #6C757D;
}
.hrDeco{
    text-align: center;
    font-size: 25px;
    color: white;
}
.indexNavigator{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: #d3ca8d;
    display: flex;
}
.indexNavigator a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}
.indexNavigator div{
    margin: 0 auto;
    border-radius: 0px;
    transition: 1s;
}
.indexNavigator div:hover{
    background-color: #fcf5a8;
    border-radius: 15px;
}

footer{
    background-color: #d3ca8d;
    position: inherit;
    bottom: 0;
    transform: translateY(40px);
}
.footerStar{
    transform: translateY(7px);
}

.elerhetosegDiv{
    background-color: #343A40;
    height: 50px;
    width: 100%;
    color: white;

}
.elerhetosegDiv div{
    -ms-transform: translateY(30%);
    transform: translateY(30%);
    display: inline-block;
}
.elerhetosegIcon{
    height: 30px;
    padding-left: 10px;
}
.facebookDiv{
    float: right;
}
.facebook{
    margin-right: 10px;
}
.facebook img{
    height: 30px;
}

.navbar{
    background-color: #D3CA8D !important;
    width: 100%;
}
.navImg{
    height: 70px;
}
.float-right{
    position: absolute;
    right: 0;
    background-color: #D3CA8D;
    padding: 5px;
    border-radius: 10px;
}

.headerDiv{
    background-color: #6C757D;

}
.headerImg{
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
.headerImg img{
    height: 300px;
}
.headerText{
    text-align: center;
    color: white;
    font-size: 80px;
}

.szovegDiv{
    width: 80%;
    margin: 0 auto;
}
.szovegDiv p{
    text-align: justify;
    font-size: 20px;
    color: white;
    background-color: #343A40;
    padding: 30px;
    border-radius: 0px 100px 0px 100px;
}

.voltegyszerDiv{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.voltegyszerDiv div{
    transition: 1s;
    overflow-y: hidden;
}
.voltegyszerDiv div:hover{
    transform: scale(0.98);
    box-shadow: black 10px 10px;
}
#tanitokepzo{
    background-color: #311d1f;
    padding: 30px;
    border-radius: 100px 0px 100px 0px;
}
#tanitokepzo h1{
    margin-left: 20px;
    text-align: left;
    font-size: 50px;
    color: #fcf5a8;
}
#tanitokepzo p{
    text-align: justify;
    font-size: 20px;
    color: #fcf5a8;
}
@media (max-width: 768px) {
    .korButton1{
        display: inline-block;
        color: #fcf5a8;
        text-decoration: none;
        background-color: #343A40;
        padding: 10px;
        font-size: 15px;
        border-radius: 0px 20px 0px 20px;
    }
}
@media (min-width: 768px) {
    .korButton1{
        display: inline-block;
        color: #fcf5a8;
        text-decoration: none;
        background-color: #343A40;
        padding: 10px;
        font-size: 25px;
        border-radius: 0px 20px 0px 20px;
        transition: all 0.5s linear;
    }
}
.korButton1:hover{
    border-radius: 20px 0px 20px 0px;
    background-color: #636466;
}

#testneveles{
    background-color: #1f3864;
    padding: 30px;
    border-radius: 100px 0px 100px 0px;
}
#testneveles h1{
    margin-left: 20px;
    text-align: left;
    font-size: 50px;
    color: #bbd5ed;
}
#testneveles p{
    text-align: justify;
    font-size: 20px;
    color: #bbd5ed;
}
@media (max-width: 768px) {
    .korButton2{
        display: inline-block;
        color: #bbd5ed;
        text-decoration: none;
        background-color: #343A40;
        padding: 10px;
        font-size: 15px;
        border-radius: 0px 20px 0px 20px;
    }
}
@media (min-width: 768px) {
    .korButton2{
        display: inline-block;
        color: #bbd5ed;
        text-decoration: none;
        background-color: #343A40;
        padding: 10px;
        font-size: 25px;
        border-radius: 0px 20px 0px 20px;
        transition: all 0.5s linear;
    }
}
.korButton2:hover{
    border-radius: 20px 0px 20px 0px;
    background-color: #636466;
}

#petofigimnazium{
    background-color: #385723;
    padding: 30px;
    border-radius: 100px 0px 100px 0px;
}
#petofigimnazium h1{
    margin-left: 20px;
    text-align: left;
    font-size: 50px;
    color: #ccffcc;
}
#petofigimnazium p{
    text-align: justify;
    font-size: 20px;
    color: #ccffcc;
}
@media (max-width: 768px) {
    .korButton3{
        display: inline-block;
        color: #ccffcc;
        text-decoration: none;
        background-color: #343A40;
        padding: 10px;
        font-size: 15px;
        border-radius: 0px 20px 0px 20px;
    }
}
@media (min-width: 768px) {
    .korButton3{
        display: inline-block;
        color: #ccffcc;
        text-decoration: none;
        background-color: #343A40;
        padding: 10px;
        font-size: 25px;
        border-radius: 0px 20px 0px 20px;
        transition: all 0.5s linear;
    }
}
.korButton3:hover{
    border-radius: 20px 0px 20px 0px;
    background-color: #636466;
}

#gepeszeti{
    background-color: #636466;
    padding: 30px;
    border-radius: 100px 0px 100px 0px;
}
#gepeszeti h1{
    margin-left: 20px;
    text-align: left;
    font-size: 50px;
    color: #dcddde;
}
#gepeszeti p{
    text-align: justify;
    font-size: 20px;
    color: #dcddde;
}
@media (max-width: 768px) {
    .korButton4{
        display: inline-block;
        color: #dcddde;
        text-decoration: none;
        background-color: #343A40;
        padding: 10px;
        font-size: 15px;
        border-radius: 0px 20px 0px 20px;
    }
}
@media (min-width: 768px) {
    .korButton4{
        display: inline-block;
        color: #dcddde;
        text-decoration: none;
        background-color: #343A40;
        padding: 10px;
        font-size: 25px;
        border-radius: 0px 20px 0px 20px;
        transition: all 0.5s linear;
    }
}
.korButton4:hover{
    border-radius: 20px 0px 20px 0px;
    background-color: #636466;
}

.size-50{
    display: block;
    margin: auto;
    width: 70%;
}

#GDPRLogo{
    min-width: 150px;
    min-height: 150px;
    display: 12%;
    width: 12%;
}

.GDPR{
    text-align: justify;
    font-size: 20px;
    color: white;
    background-color: #343A40;
    padding: 30px;
    border-radius: 0px 100px 0px 100px;
}

.GDPR2{
    font-size: 20px;
    color: white;
    background-color: #343A40;
    padding: 30px;
    border-radius: 0px 100px 0px 100px;
}

.szovegDiv1{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.szovegDiv2{
    width: 80%;
    margin: 0 auto;
}

.GDPR H1{
    display: inline-block;
}

.galleryDiv{
    position: absolute;
    top: 35%;
    bottom: 65%;
    left: 10%;
    right: 10%;
}
.imgDivAnimation{
    margin-bottom: 30px;
    transition: 0.5s;
}
.imgDivAnimation:hover{
    transform: scale(1.02);
    box-shadow: black 10px 10px;
}
.imgDivAnimation p{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: underline;
    width: 80%;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    transform: translateY(180px);
}
.modal-content{
    background-color: #6C757D !important;
    color: white;
}
/*Modal Image Grid*/
photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
/*Modal Image Grid*/
#kepeslapokImg{
    background-image: url(images/gallery/képeslapok/képeslap-5.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 50px 0px 50px 0px;
}
#fenykepekImg{
    background-image: url(images/gallery/fényképek/fénykép-1.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 50px 0px 50px 0px;
}
#tablokImg{
    background-image: url(images/gallery/tabló.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 50px 0px 50px 0px;
}
#egyebekImg{
    background-image: url(images/gallery/egyebek/egyebek-3.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 50px 0px 50px 0px;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

#GDPR2{
    width: 20%;
    margin: 0 auto;
    display: block;
}
.elerhetosegtext{
    color: white;
    font-size: 20px;
    padding: 30px;
    border-radius: 100px 0px 100px 0px;
    background-color: #343A40;
    width: 80%;
    margin: 0 auto;
}

.mar{
    margin-top: 15px;
}

.pb-video-container {
    padding-top: 20px;
    background: #bdc3c7;
    font-family: Lato;
}

.pb-video {
    border: 1px solid #e6e6e6;
    padding: 5px;
}

.pb-video:hover {
    background: #2c3e50;
}

.pb-row {
    margin-bottom: 10px;
}